<div class="card" style="max-width: 25rem;" *ngIf="!loader">
  <img src="{{product?.image}}" class="card-img-top img-fluid" alt="...">
  <div class="card-body">
    <h4 class="card-title text-center font-weight-bold mb-3">{{product?.title | uppercase }} </h4>
    <h1 class="card-title">Producto: {{product?.title}}</h1>
    <h2 [ngStyle]="{color: color}">Price: {{product?.price | currency}}</h2>
    <p class="card-text">Description: {{product?.description}}</p>
  </div>
<ng-container *ngIf="loader">
  <h1 style="color: blue;">Loading...</h1>
</ng-container>


