<h1>List of products</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Detail</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productsList">
      <th scope="row">{{product.id}}</th>
      <td >{{product.title}}</td>
      <td colspan="2" [ngClass]="{'red-color': product.price > 200}">{{product.price | currency}}</td>
      <button class="btn btn-outline-primary" type="button" [routerLink]="['/products', product.id]">View Detail</button>
    </tr>
  </tbody>
</table>
